body{
  font-family: Arial;
}

header {
  margin-top: 10px;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;

}

.top_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*Logo   */

.logo{
  width: 320px;
  text-align: center;
  height: 100px;
  display: block;
}

.logo_text{
  float: left;
}

.logo a{
  text-decoration: none;
  font-size: 40px;
  color:#619e01;
  font-weight: 800;

}

.logo a span{
  color: #019e9d;
}

a.grey_logo{
  color: #6b6b6b;
  text-decoration: none;
  font-size: 36px;
  font-weight: lighter;
  font-family: initial;
  line-height: 27px;
}



/* @keyframes logo {

  from{transform:scaleX(-1);}

} */
.logo img{
  width: 80px;
  float:right;
  transition: 1s;
  margin-left: 20px;
  /* transition: 1s;
  animation: logo 1s infinite cubic-bezier(0.07, 0.07, 0.76, 0.76); */
}



.logo img:hover{
  transform: rotate(360deg);
}


/*END LOGO */

.zakazat {
    background-color: #4a7801;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    cursor: pointer;
    height: 70px;
    font-size: 33px;
    transition: .2s;
    cursor: pointer;
}

.zakazat:hover{
  background-color: #3d6300;
  transition: .2s;
}

.phone{
  font-size: 30px;
  color: #6b6b6b;
}
/* END TOP-HEADER */

.header {
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  width: 100%;
  height: 518px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.header .header-left{
  width: 50%;
   text-align: center;
   color:#FFF;
}

.header .header-left h1{
  font-size: 48px;
  font-weight: bold;
  margin: 16px;
}
.header .header-left h3{
  font-size: 33px;
  font-weight: bold;
  margin: 10px;
}
.header .header-left p{
  font-size: 24px;
  line-height: 40px;
  width: 90%;
  margin: 0 auto;
}
.header .header-right h1{
  font-size: 48px;
  font-weight: bold;
  color: #FFF;
  margin: 0 auto;
}

.header .header-right{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

.header .header-right .text-pole {
  width: 47%;
  height: 10%;
  margin: 12px auto;
  font-size: 20px;
  border: none;
  border-radius: 6px;
}

.otpravit{
  background-color: #4a7801;
  font-size: 23px;
  cursor: pointer;
  color: #fff;
  transition: .2s;
}

.otpravit:hover{
  background-color: #3d6300;
  transition: .2s;
}
/* End Header */


#tabs{
  width: 100%;
  background: #007e7d;

}

#tabs ul {
  list-style: none;
  display: table-row;
}

#tabs ul li {
  display: table-cell;
  height: 50px;
  text-align: center;
}

#tabs ul li:first-child{
  background: #00605f;
}

#tabs ul li a{
  display: table-cell;
  width: 1200px;
  height: 50px;
  line-height: 50px;
  color:#fff;
  text-decoration: none;
  font-size: 20px;
}

#tabs ul li a:hover{
  background: #00605f;
}

.tab-content{
  background-color: #eff9f9;
}

.tabs-text {
  padding: 13px;
  display: none;
}

.tabs-text .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs-text .container p {
    color: #000;
    text-align: center;
    font-size: 26px;
    padding: 34px;
}
.tabs-text .container img{
  width: 300px;
  height: 300px;
}

/* END TABS */

section div.container  h3 {
  width: 100%;
  text-align: center;
  font-size: 27px;
}

.why-we{
  display: flex;
}

.why-we div{
  text-align: center;
  align-items: center;
  padding: 22px 10px;
}

.why-we div p {
  font-size: 18px;
}

/* end why we */

.about-us .container{
  border-top: 2px solid silver;
  display: flex;
  justify-content: space-between;

}
.about-us .container .map img {
  width: 100%;
}

.about-us .container .contacts {
  width: 30%;
  background-color: #eff9f9;
}
.about-us .container .contacts p {
  text-align: center;
  font-size: 20px;
}

